﻿@model Wallet.Models.Transaction
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<MyResources> Localizer
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Localizer["create"]</h2>

<h4>@Localizer["userId"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TransactionBalance" class="control-label"></label>
                <input asp-for="TransactionBalance" class="form-control" />
                <span asp-validation-for="TransactionBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserToId" class="control-label"></label>

                <input class="form-control" name="userCode" />
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
