﻿@model ApplicationUser
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<MyResources> Localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Localizer["transaction"]</h2>

@{
    if (Model.TransactionTo != null)
    {
        foreach (var transTo in Model.TransactionTo)
        { <h2>@Localizer["transactionFrom"]</h2>
          <div>@Localizer["userId"]@transTo.ApplicationUserFromId</div>
          <div>@Localizer["amount"]@transTo.TransactionBalance</div>
          <div>@Localizer["date"]@transTo.TransactionDate</div>
        }
    }

    if (Model.TransactionsFrom != null)
    {
        foreach (var transFrom in Model.TransactionsFrom)
        { <h2>@Localizer["transactionTo"]</h2>
          <div>@Localizer["userId"]@transFrom.ApplicationUserToId</div>
          <div>@Localizer["amount"]@transFrom.TransactionBalance</div>
          <div>@Localizer["date"]@transFrom.TransactionDate</div>
        }
    }
}
