﻿
@{
    ViewData["Title"] = "TopUpBalance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TopUpBalance</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="TopUpBalancePost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                User name:
                <input name="userName" class="form-control" />
            </div>
            <div class="form-group">
                Amount:
                <input class="form-control" name="amount" />
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
